.newcollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.newcollections h1 {
    color: #171717;
    font-size: 50px;
    display: flex;
    text-align: center;
}

.newcollections hr {
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}

.newcollections-item {
    margin-top: 50px;
    display: flex;
    gap: 5px;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .collections {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5px;
    }
    .newcollections {
        width: 768px;
    }
  }
